@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-bg-light: #fcfcfc;
  --color-bg-dark: #1c1c1c;
}

:root {
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  background-color: var(--color-bg-light);
}

:root.dark {
  color-scheme: dark;
  background-color: var(--color-bg-dark);
}

:root.pause-transitions * {
  transition-duration: 0ms !important;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
